/*:root {
  --ColorA: #b5b5b5;
  --ColorB: #757575;
  --ColorC: #f5f5f5;
  --ColorD: #363636;
  --ColorE: #dbdbdb;
}


body {
  font-family: "Dosis", sans-serif;
  background-color: var(--ColorC);
  color: var(--ColorD);
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.NavLinksDiv {
  display: flex;
  justify-content: space-around;
}

.NavLinks {
  font-size: 0;
  margin-right: 25px;
  color: var(--ColorD);
}

p {
  font-size: 0;
}

#AboutMe {
  width: 80%;
  margin: 100px auto;
  text-align: left;
  display: flex;
  padding: 50px;
}

h1 {
  font-size: 0;
}
.Skill {
  width: 0;
  background-color: var(--ColorE);
  margin: 50px;
  padding: 30px;
  text-align: left;
  color: var(--ColorD);
  animation: fadeIn 0.8s;
  border: solid var(--ColorD);
  border-radius: 5px;
}

#Skills {
  display: flex;
  margin: 50px auto;
}

#Projects {
  display: flex;
  margin-bottom: 100px;
}

#Recent {
  width: 60%;
}
#Recent article {
  display: flex;
  border: solid var(--ColorD);
  border-radius: 5px;
  background-color: var(--ColorE);
  margin: 20px;
  height: auto;
  padding: 20px;
}
footer {
  text-align: center;
}
footer a {
  color: var(--ColorD);
}
button {
  border-color: var(--ColorB);
  background-color: var(--ColorB);
  color: var(--ColorC);
  border-radius: 5px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  font-size: large;
  margin: 20px;
}

#Filter {
  width: 5%;
  margin: 5% 4%;
  padding: 5% 4%;
}


.ProjectsList {
  width: 70%;
  margin-top: 4%;
}
.ProjectsList article {
  display: flex;
  border: solid var(--ColorD);
  border-radius: 5px;
  background-color: var(--ColorE);
  margin: 20px;
}

#Filter select{
  font-family: "Dosis", sans-serif;
  color: var(--ColorC);
  border: solid var(--ColorD);
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  background-color: var(--ColorA);
}

#DrumsArticles{
  align-items: center;
  width: 60%;
  margin: 5% auto;
}

#DrumsArticles article{
  border: solid var(--ColorD);
  border-radius: 5px;
  background-color: var(--ColorE);
  margin: 20px;
  width: 1152px;
}

#contact {
  width: 50%;
  margin: 5% auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#contact textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#contact input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contact input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact input[type=submit]:hover {
  background-color: #45a049;
}
#contact label{
  font-size: 1.5em;
}
#contact input{
  font-family: "Dosis", sans-serif;
}
#contact textarea{
  font-family: "Dosis", sans-serif;
}







*/

 :root {
  --ColorA: #b5b5b5;
  --ColorB: #757575;
  --ColorC: #f5f5f5;
  --ColorD: #363636;
  --ColorE: #dbdbdb;
}


body {
  font-family: "Dosis", sans-serif;
  background-color: var(--ColorC);
  color: var(--ColorD);
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.NavLinksDiv {
  display: flex;
  justify-content: space-around;
}

.NavLinks {
  font-size: 1.875em;
  margin-right: 25px;
  color: var(--ColorD);
}

p {
  font-size: 1.6em;
}

#AboutMe {
  width: 80%;
  margin: 100px auto;
  text-align: left;
  display: flex;
  padding: 50px;
}

h1 {
  font-size: 2em;
}
.Skill {
  width: 24%;
  background-color: var(--ColorE);
  margin: 50px;
  padding: 30px;
  text-align: left;
  color: var(--ColorD);
  animation: fadeIn 0.8s;
  border: solid var(--ColorD);
  border-radius: 5px;
}

#Skills {
  display: flex;
  margin: 50px auto;
}

#Projects {
  display: flex;
  margin-bottom: 100px;
}

#Recent {
  width: 60%;
}
#Recent article {
  display: flex;
  border: solid var(--ColorD);
  border-radius: 5px;
  background-color: var(--ColorE);
  margin: 20px;
  height: auto;
  padding: 20px;
}
footer {
  text-align: center;
}
footer a {
  color: var(--ColorD);
}
button {
  border-color: var(--ColorB);
  background-color: var(--ColorB);
  color: var(--ColorC);
  border-radius: 5px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  font-size: large;
  margin: 20px;
}

#Filter {
  width: 5%;
  margin: 5% 4%;
  padding: 5% 4%;
}


.ProjectsList {
  width: 70%;
  margin-top: 4%;
}
.ProjectsList article {
  display: flex;
  border: solid var(--ColorD);
  border-radius: 5px;
  background-color: var(--ColorE);
  margin: 20px;
}

#Filter select{
  font-family: "Dosis", sans-serif;
  color: var(--ColorC);
  border: solid var(--ColorD);
  border-radius: 5px;
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  background-color: var(--ColorA);
}

#DrumsArticles{
  align-items: center;
  width: 60%;
  margin: 5% auto;
}

#DrumsArticles article{
  border: solid var(--ColorD);
  border-radius: 5px;
  background-color: var(--ColorE);
  margin: 20px;
  width: 1152px;
}

#contact {
  width: 50%;
  margin: 5% auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#contact textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

#contact input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#contact input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contact input[type=submit]:hover {
  background-color: #45a049;
}
#contact label{
  font-size: 1.5em;
}
#contact input{
  font-family: "Dosis", sans-serif;
}
#contact textarea{
  font-family: "Dosis", sans-serif;
}

.mySlides {display: none;margin: 5% auto; 
  text-align: center;}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(75,75,75,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.Page{
  width: 70%;
  margin: 5% auto;
}

.slideshow-container{
  width: auto;
  background-color: var(--ColorE);
  margin: 5% auto;
}
